@font-face {
  font-family: "DIN Condensed";
  src:
    url("./DIN-Condensed-Bold.woff2") format("woff2"),
    url("./DIN-Condensed-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
